VITE_SHEETS_API_URL=https://script.google.com/macros/s/DEPLOYMENT_ID/exec
VITE_REGISTRATION_API_URL=https://script.google.com/macros/s/REGISTRATION_DEPLOYMENT_ID/exec
VITE_DEMO_MODE=true
VITE_GOOGLE_SHEET_ID=1HdtNXLR5x_nhdHNnH4eST-1q7JEavdp0jnKxdD9J-Qk
VITE_GOOGLE_SHEET_TAB=Parmak pas
VITE_GA_MEASUREMENT_ID=G-Q3Z1NGYM41
VITE_NOTEBOOKLM_URL=
VITE_NOTEBOOKLM_IFRAME_ENABLED=false
